<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>ReleaseNotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Asap|Cairo|Catamaran|Exo|IBM+Plex+Sans|Merriweather+Sans|Mukta|Noto+Sans|Nunito+Sans|PT+Sans|Roboto|Rokkitt|Ropa+Sans|Signika|Source+Code+Pro|Ubuntu&display=swap" rel="stylesheet">
    <style>
        html {
            font-family: 'Mukta', sans-serif;
            background-color: #f7f7f7;
        }

        body {
            margin: 0 auto;
        }

        .bg-dark-blue {
            background-color: #252c3d;
        }


        .container {
            max-width: 100px;
            margin: 0 auto;
            min-width: 600px;
            background-color: white;
        }

        .header {
            width:100%;
            padding: 10px 20px 10px 20px;
            color: white;
        }

            .header .logo {
                text-align: center;
            }

        .content {
             width:100%;
            padding: 10px 20px 10px 20px;
            background-color: white;
        }

        .info-btn {
            background: orange;
            color: white;
            padding: 2px 10px 2px 10px;
            border: 1px solid #ea9700;
            border-radius: 3px;
            font-size: 14px;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>